<!-- Page content -->
<main class="grow py-6">
  <!-- Page content -->
  <section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div>
        <div class="md:flex md:justify-between">
          <!-- Sidebar -->
          <%= render "jobs/job_filter" %>
          <!-- Main content -->
          <div class="md:grow">
            <!-- Job list -->
            <div class="pb-8 md:pb-16">
              <h2 class="text-3xl font-bold font-inter mb-10">Latest jobs</h2>
              <!-- List container -->
              <%= turbo_frame_tag "jobs" do %>
                <div class="flex flex-col">
                  <%= render 'jobs', jobs: @jobs %>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
