<!-- Page content -->
<main class="grow py-6">
  <!-- Page content -->
  <section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div>
        <div class="md:flex md:justify-between">
          <!-- Sidebar -->
          <%= render "jobs/job_filter" %>
          <!-- Main content -->
          <div class="md:grow">
            <!-- Job list -->
            <div class="pb-8 md:pb-16">
              <h2 class="text-3xl font-bold font-inter mb-10">Latest jobs</h2>
              <!-- List container -->
              <%= turbo_frame_tag "jobs" do %>
                <div class="flex flex-col">
                  <%= render 'jobs', jobs: @jobs %>
                  <div class="pagination">
                    <div class="py-6">
                      <%= will_paginate @jobs, previous_label: "Previous", next_label: "Next", class: "flex items-center justify-center space-x-2" %>
                    </div>
                  </div>
                  <!-- Newletter CTA -->
                  <div class="py-8 border-b border-gray-200 -order-1">
                    <div class="relative text-center px-4 py-6 group">
                      <div class="absolute inset-0 rounded-xl bg-gray-50 border border-gray-200 -rotate-1 group-hover:rotate-0 transition duration-150 ease-in-out -z-10" aria-hidden="true"></div>
                      <div class="font-nycd text-xl text-indigo-500 mb-1">Land your dream job</div>
                      <div class="text-2xl font-bold mb-5">Get a weekly email with the latest startup jobs.</div>
                      <form class="inline-flex max-w-sm">
                        <div class="flex flex-col sm:flex-row justify-center max-w-xs mx-auto sm:max-w-none">
                          <input type="email" class="form-input py-1.5 w-full mb-2 sm:mb-0 sm:mr-2" placeholder="Your email" aria-label="Your email"/>
                          <button class="btn-sm text-white bg-indigo-500 hover:bg-indigo-600 shadow-sm whitespace-nowrap" type="submit">Join
                            Newsletter
                          </button>
                        </div>
                        <!-- Success message -->
                        <!-- <p class="font-medium text-emerald-600 text-center sm:text-left sm:absolute mt-2 opacity-75 text-sm">Thanks for subscribing!</p> -->
                      </form>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
