<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <div id="<%= dom_id @job %>">
      <div class='border rounded-lg hidden md:block'>
        <div class=' pt-5 pb-4 px-4 flex flex-col items-start shadow-md'>
          <h3 class='font-extrabold mb-3'>Customer Service Representative</h3>
          <a class='decoration-blue-600 mb-3 text-blue-600 text-xs border-b border-blue-600' href="#">Voyager Global
            Mobility</a>
          <span class='text-xs text-slate-500 mb-2'>Lahore</span>
          <div class="text-xs text-gray-500">
            <span>Rs 60,000</span> - <span>Rs 90,000</span><span> a month</span>
          </div>
          <div class="mt-4">
            <button class=' bg-sky-700 rounded py-2 px-2 text-white font-semibold'>Apply Now</button>
            <button class="bg-slate-400 py-2 px-3 rounded">
              <i class="fa fa-bookmark-o text-white !text-md" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class = 'p-5'>
          <p><b>Job details</b></p>
          <div>
            <span class = 'block text-xs text-slate-500 italic' >Here’s how the job details align with your job preferences.</span>
            <span class = 'block text-xs text-slate-500 italic' >Manage job preferences anytime in your 
              <a href = '#' class = 'text-xs text-slate-500' >profile</a>
            </span>
          </div>
          <div class='flex items-center'>
            <span><i class="fa fa-money text-stone-400" aria-hidden="true"></i></span>
            <span class = 'text-sm font-semibold ml-2 block' >Pay</span>
          </div>
          <p class = 'text-sm ml-8 bg-stone-100 p-1 inline px-2' >Rs 20,000 a month</p>
          <div class='flex items-center'>
            <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
            <span class = 'text-sm font-semibold ml-2 block'>Job Type</span>
          </div>
          <p class = 'text-sm ml-8 bg-stone-100 py-1 px-2 inline'>Full-time</p>
        </div>
      </div>
    </div>
  </div>
