<div class='max-w-6xl mx-auto px-4 sm:px-6'>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex justify-between items-center mb-3">
      <h2 class="font-bold text-4xl">Boards</h2>
      <%= link_to 'New Board', new_admin_board_path, class: "btn text-white bg-indigo-500 hover:bg-indigo-600 group shadow-sm" %>
    </div>
   
    <div class="md:w-full overflow-auto mx-auto">
      <table class="w-full text-sm text-left text-gray-500 shadow-md sm:rounded-lg">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 w-28">
              Title
            </th>
            <th scope="col" class="px-6 py-3">
              Source Url
            </th>
            <th scope="col" class="px-6 py-3 text-center">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @boards %>
        </tbody>
      </table>
    </div>
    <div class="pagination mb-4 mt-3">
      <%= will_paginate @boards, previous_label: "Previous", next_label: "Next", class: "flex items-center justify-center space-x-2" %>
    </div>
  </div>
</div>
