<div class='container'>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Boards</h1>
      <%= link_to 'New Board', new_admin_board_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>

    <div id="boards" class="min-w-full">
      <%= render @boards %>
    </div>

    <div class="pagination mb-4 mt-3">
      <%= will_paginate @boards, previous_label: "Previous", next_label: "Next", class: "flex items-center justify-center space-x-2" %>
    </div>
  </div>
</div>
