<div class="max-w-xl mx-auto px-4">
  <h2 class="font-bold text-4xl text-center">New Board</h2>
  <%= render "form", board: @board %>
  <%= link_to 'Back to Boards', admin_boards_path, class: "btn text-center mt-3 block py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
