<div class="max-w-xl mx-auto px-4">
  <h1 class="font-bold text-4xl text-center my-3">Editing Post</h1>
  <%= render "form", post: @post %>
  <div class ='flex md:gap-4 gap-1 md:flex-row flex-col'>
    <%= link_to "Show this Post", admin_post_path(@post), class: "flex-1 btn hover:text-white btn text-center mt-3 block bg-gray-100 font-medium hover:bg-indigo-600 shadow-sm group transition duration-300 ease-in-out " %>
    <%= link_to "Back to Posts", admin_posts_path, class: "flex-1 btn hover:text-white btn text-center mt-3 block bg-gray-100 font-medium hover:bg-indigo-600 shadow-sm group transition duration-300 ease-in-out " %>
  </div>
</div>
