/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

/* Style the individual pagination items */
.pagination li {
    margin: 0 5px; /* Add spacing between pagination items */
    display: inline-block;
}

/* Style the pagination links */
.pagination a {
    padding: 5px 10px;
    color: rgb(99 102 241);
    text-decoration: none;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    border-right: 0;
    transition: .3s all;
}
.pagination .previous_page {
    border-radius: 4px 0 0 4px;
}
.pagination .next_page {
    border-radius: 0px 4px 4px 0px;
}
.pagination .previous_page.disabled {
    border-radius: 4px 0 0 4px;
}
.pagination .next_page.disabled {
    border-radius: 0px 4px 4px 0px;
}
.pagination a:hover {
    background-color: rgb(99 102 241);
    color: #fff;
    border: 0;
}
.pagination .next_page {
    border: 1px solid #ddd;
}

.pagination .disabled {
    padding: 5px 10px;
    color: #6c757d;
    text-decoration: none;
    border-radius: 0px;
    cursor: not-allowed;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    margin: 0 !important;
}

/* Style the current page link */
.pagination .current {
    background-color: rgb(99 102 241);
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    border: 1px solid rgb(99 102 241);
    width: 35px;
    height: 35px;
    margin: 0 !important;
}

/* Style the previous and next links */
.pagination .prev,
.pagination .next {
    font-weight: bold;
}
